.logo h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 600;
}
.header {
  margin-top: 20px;
}
.logo h1 span:first-of-type {
  padding: 0px 15px;
  border: 1px solid;
  margin-right: 5px;
  color: rgb(218, 158, 47);
}
.search-product input {
  width: 60%;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  border: radius 0;
  border-right: none;
  border: 1px solid;
  color: gray;
}

.search-product input:focus {
  outline-color: none;
}
.search-product button {
  height: 50px;
  padding: 8px;
  cursor: pointer;
  border-radius: 0;
  border: none;
  margin-left: -3px;
  font-size: 21px;
  color: rgb(78, 76, 74);
  background-color: rgb(224, 219, 219);
}
.search-product:hover {
  background: rgb(238, 238, 242);
}
.seleced-product {
  text-align: right;
}
.full-banner-wrapper {
  border-top: 1px solid #ddd;
  padding-bottom: 50px;
}
.list-hadder {
  height: 65px;
  background-color: rgb(218, 158, 47);
}
.list-hadder h4 {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
}
.list-hadder span {
  float: right;
  padding: 28px;
}
.cateogry-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 5px solid #ddd;
}
.cateogry-list ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
}
.cateogry-list ul li a {
  color: #333;
  text-decoration: none;
}
.shop-menu {
  display: flex;
}
.left-menu-list {
  width: 75%;
}
.right-menu-list {
  width: 30%;
  direction: rtl;
}
.shop-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.shop-menu ul li {
  padding: 15px;
  min-width: 75px;
}
.shop-menu ul li a {
  color: #333;
  text-decoration: none;
}
.shop-menu ul li a:hover {
  color: rgb(218, 158, 47);
}
.shop-menu ul.dropdown {
  display: none;
  border: 1px solid #ddd;


}
.dropdown-head:hover ul.dropdown {
  display: block;
}
.banner {
  position: relative;
  float: left;
  height: 400px;
  width: 600px;
  margin-left: 20px;
}
.banner img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.banner .banner-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.banner-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}
.banner-text h3 {
  margin: 0px;
  font-size: 50px;
}
.banner-text a.show-now {
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
}
.features-point {
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
}
.icon-text-wrap i {
  font-size: 30px;
  color: rgb(218, 158, 47);
}
.icon-text-wrap span {
  font-size: 20px;
  padding-left: 20px;
  font-weight: 400;
}
.offer-banner {
  margin-bottom: 20px;
  margin-right: 10px;
  position: relative;
}
.offer-banner img {
  position: absolute;
  max-width: 70%;
  max-height: 100%;
  bottom: 0;
  z-index: 90;
  float: left;
}
.offer-banner .offer-text {
  text-align: right;
  padding: 70px;
}
.offer-banner .offer-text h5 {
  color: #d19c97;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
}
.offer-banner .offer-text button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
}
.cart {
  border: 1px solid #ddd;
  margin-right: 25px;
  margin-bottom: 40px;
  margin-left:  25px;
  width: 300px;
padding-left: -200px;
padding-bottom: -300px;
margin-top: 10px;
}
.cart img {
  width: 100%;
}
.cart .cart-details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  height: 111px;
}
.cart .cart-details .name-head {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.cart .cart-details .cart-price {
  display: flex;
  justify-content: center;
}
.cart .cart-price .current-price {
  font-size: 16px;
  margin: 0;
  padding: 5px;
  font-weight: 500;
}
.cart .cart-price .original-price {
  text-decoration: line-through;
}
.cart .cart-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
}
.cart .cart-footer a {
  color: #d19c97;
  font-size: 14px;
}
.stay-updated {
  text-align: center;
  background-color: rgb(222, 251, 251);
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 20px;
}
.stay-updated .stay {
  border: #333;
}
.stay-updated p {
  text-align: center;
}
.stay-updated .updated-inputs input {
  flex: 100%;
  width: 400px;
  height: 30px;
}
.stay-updated .email-btn {
  height: 30px;
  border-color: #d19c97;
  background-color: #d19c97;
  padding-left: 1px solid #ddd;
  padding-right: 10px;

  cursor: pointer;
  border-radius: 0;
  border: none;
  margin-left: -4px;
}
.stay-updated .email-input {
  font-size: 16px;
}
.stay-updated .updated-inputs button:hover {
  height: 30px;
  border-color: #9e85d3;
  background-color: #9e85d3;
  padding-left: 1px solid #ddd;
}
.vendor-list {
  justify-content: space-between;
}
.vendor-list img {
  height: 150px;
  padding-left: 40px;
  padding-top: 40px;
}

/*
.visit{
padding-left: 600px;
}*/

.footer {
  background-color: #d1cbea;
  margin-left: -30px;
  margin-right: -30px;
  padding-bottom: 0;
  margin-top: 80px;
  padding-right: 30px;
  display: flex;
  position: relative;
}
.footer .footer-dec {
  margin-left: 40px;
  line-height: 30px;
}
.footer .contact-list {
  margin: 0;
  list-style-type: none;
  line-height: 30px;
}
.quick-links ul {
  list-style-type: none;
  padding: 0;
}
.quick-links ul a {
  text-decoration: none;
  color: #333;
}
.quick-links ul a i {
  padding-right: 5px;
} /*for name & email width/height */
.footer .line-gap .footer-input {
  height: 40px;
  width: 120px;
  padding-right: 90px;
}
.footer .left {
  padding: 0;
}
/* gap between enter name & enter mail*/
.footer .line-gap {
  line-height: 50px;
}
/*for button width/height */
.footer .btn {
  height: 40px;
  width: 120px;
  padding-right: 90px;
}
.copy-right {
  background-color: #232f3e;
  margin-top: 250px;
}
.copy-right b {
  color: rgb(169, 163, 163);
}
.copy-right img {
  padding-top: 20px;
  height: 30px;
  margin-top: 10px;
}
.copy-right div {
  color: white;
}
.copy-right .connect {
  text-align: right;
  padding-right: 20px;
}
.copy-right .back {
  text-align: center;
  padding-top: 20px;
  width: 1473px;
  background-color: rgb(64, 78, 100);
}
.copy-right .back button {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  font-size: 15px;
}
/*shop file style*/
.shop-header{
  background-color: #d1cbea;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}
.shop-header h1{
  text-transform: uppercase;
}
.shop-header h3{
  color:#DA9e2f;
  font-weight: 600;
}
.sort-option{
  text-align: right;
  margin-top: 10px;
  margin-right: 25px;
}
.sort-option select{
  border: 1px solid rgb(224, 217, 217);
  height: 35px;
  width: 100px;
}
/* custom checkbox */
.custom-control-check {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 16px;
  padding-left:50px;
  margin-bottom: -20px;
  margin-left: -13px;
}
.custom-control-input{
  position:absolute;
  left: 0;
  z-index: -1;
  width: 16px;
  height: 16px;
  opacity: 0;
}
.custom-control-label{
  position: relative;
  margin-bottom: 0px;
  vertical-align: top;

}
.custom-control-label::before{
  position: absolute;
  top:3px;
  left: -25px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #ddd;
}
.custom-control-input:checked ~ .custom-control-label::before{
  border-color:#d19c97;
  background-color: #d19c97;
}
.custom-control-label::after{
  position:absolute;
  top:4px;
  left:-24px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background: no-repeat 50% / 50% 50%;
}
.custom-control-input ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}
.custom-control-check{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 90px;
  color: #666;
  margin-bottom: 10px;
}
.filter-prod-count{
  border: 1px solid rgb(182, 179, 179);
  font-size: 15px;
  width: 30px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
/* custom checkbox end */

/* cart Details*/
 .cart-details{
  margin-top: 50px;
  margin-bottom: 50px;
 }
 .cart-details table{
  width: 100%;
   border-collapse:collapse ;
}
.cart-details  table thead{
  color: #666;
  background-color:#edabc8;
  text-align: center;
  
}
.cart-details table thead th{
  padding: 15px;
}
.cart-details table tbody{
  text-align: center;
  vertical-align:middle;
}
.cart-details img{
  width: 36px;
  vertical-align: middle;

}
.cart-details table tbody td{
  border: 1px solid #edf1ff;
  display: table-cell;
  padding: 15px;
}
.quatity-input{
  display: flex;
}
.quantity-input button{
  border: 0;
  background-color: #d19c97;
  font-size: 24px;
  width: 30px;
  border-radius: 0px;
}
.quatity-input input{
  width: 50px;
  border: 1px solid #ccc;
  background-color: #edf1ff;
  text-align: center;
}
.cart-details .custom-delete-button{
 padding: 5px;
 background-color: #d19c97;
}
/*card details end*/

/*cart summery start*/
.cart-summary-wrapper{
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 60px;
} 
.cart-summary-wrapper .coupon-inputs{
  display: flex;
  height: 50px;

}
.coupon-inputs input{
  border: 1px solid #ddd;
  border-right: 0;
  padding-left: 20px;
  width: 160px;
}
.coupon-inputs button{
  background-color: #d19c97;
  border: 0;
  width:100%;
}
.cart-summary-wrapper .cart-summary-body{
  border: 1px solid #ddd;
  margin-top:20px;
  padding-top: 20px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.cart-summary-wrapper .cart-summary-item{
display: flex;
justify-content: space-between;
font-size: 16px;
}
.cart-summary-wrapper .total-wrapper{
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
}
.cart-summary-wrapper .total-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cart-summary-wrapper .total-head h4{
  margin: 0;
}
.cart-summary-wrapper .proceed-input button{

  background-color: #d19c97;
  border: 0;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}
/*cart summery end*/

/*Login Area Start*/
.login-area{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
  justify-content: space-between;
}
.login-area input{
  border: 1px solid #ddd;
  width: 30%;
  height: 50px;
  padding: 10px;
}
.login-area button{
  border: 1px solid #ddd;
  padding: 10px;
  width: 30%;
  height: 50px;
  cursor: pointer;
  color: white;
  background-color: #d19c97;
}
/*Login Area end*/
/*help-center*/
.help-center{
  margin: 0px;
}
.help-center h6{
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 0px;
}
.help-center p{
  margin-top: 0px;
  
}
.manage-box  h6 i{
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 30px;
  padding-left: 20px;
}

.manage-box {
  border: 2px solid  rgb(22, 21, 21);
  width: 650px;
  margin: 0;
  margin-top: 14px;
}

.manage-box  p{
  margin-top: -34px;
  color: rgb(79, 74, 74);
  height: 10px;
  width: 400px;
  margin-left: 60px;
}
.manage-box button{
  padding-left: 0px;
  margin-left: 525px;
  margin-top: -34px;
  border-radius: 4px;
  width: 109px;
  height: 30px;
  font-size: 17px;
  background-color: white;
  color: #d19c97;
  position: absolute;
  border-color: #d19c97;

  
}
.query{
  
  font-family: Whitney;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  color:#5b5d68;
  margin-bottom: 50px;
  cursor: pointer;
  position: relative;
  margin-top: 0px;
  margin-left: 40px;
  
}
.query .honer :hover{
    color:  #14cda8;
}
.vl{
  border-left: 2px solid rgb(182, 179, 179);
            height: 400px;
            position:relative;
            left: 100%;
            margin-top: -339px;
            margin-left: 1px;
}

/*help-center end*/

@media only screen and (max-width:992px)
{
  .search-product{
    display: flex;
  }

  .search-product input{
    flex: 100%;
  }
  .selected-product{
    text-align: left;
  }
  .shop-menu ul{
    display: block;
  }

}
